/* Reset */
html, body, h1, h2, h3, h4, h5, h6, p, form, fieldset, img, select {margin:0; padding:0; border:0;}
ul, dl,dt,dd {margin:0; padding:0;list-style:none;}
label, input, button, select, img {vertical-align:middle;}
fieldset legend, hr {display:none;}
a{color: #000; text-decoration: none;}
a:hover, a:focus, a:active {color: crimson; text-decoration: none; }

/*App*/
#app{max-width: 320px; margin:0 auto}
h1{display: none;}

/*HomeView*/
.home{padding:10px; background:#eee;}
.home h2{font-size:15px}
.home .newsH2{margin:15px 0}
.home header{background: #fff; margin:-10px -10px 0 -10px}
.home header article{padding:15px; background: #2c2e2c; border-radius: 5px;}
.home header li{display: inline-block; width:25%; line-height:50px; text-align: center; font-size:13px}
.home section{border-radius: 5px; background: #fff; margin-bottom:10px}
.home .payNews {background:#eee;}
.home .payNews li{position:relative; height:100px; padding:15px; margin-bottom:10px; background:#fff; border-radius: 5px;}
.home .payNews p{width:55%; margin-bottom:5px; font-weight:bold;}
.home .payNews span{width:57%; font-size:12px; color:#ababab}
.home .payNews img{position: absolute; top:10px; right:10px; display:block; width:80px; height:80px}
.home .payNews .bigArea{height:200px}
.home .nav li{display: inline;}
.home footer{margin-bottom:20px; font-size:8px; text-align: center; color:#2c2e2c}

/*ManageView*/
.manage{padding:10px; background:#eee;}
.manage .notice {height:20px; margin-bottom:10px; font-size:13px; overflow: hidden;}
.manage h2{font-size:15px}
.manage header{height:50px; margin:0 -10px 10px; padding:15px; background: #fff;}
.manage header h2{font-size:13px; font-weight: normal; color:#2c2e2c}
.manage section{margin-bottom:10px; padding:15px; border-radius: 5px; background: #fff;}
.manage .recent h2{margin-bottom: 5px; font-size:13px; font-weight: normal;}
.manage .recent li{position:relative; margin-bottom:10px;font-size:12px}
.manage .recent li:last-child{margin-bottom: 0;}
.manage .recent span{display: block;}
.manage .recent strong{position: absolute; top:0; right:0;}
.manage .recent em{font-style: normal; font-size:8px; font-weight: normal; color:#6b6b6b;}
.manage .cardReport{background: #eee; padding:0}
.manage .cardReport h2{display: none;}
.manage .cardReport ul{height:100px; overflow: hidden;}
.manage .cardReport li:first-child{margin-right: 10px; width: calc(50% - 10px)}
.manage .cardReport li{width:50%; height:100px; float: left; background: #fff; border-radius: 5px;}
.manage .cardReport ul::after{content:""; display: block; clear: both;}


/*BenefitView*/
.benefit{padding:10px; background:#eee;}
.benefit section{border-radius: 5px; background: #fff; margin-bottom:10px}

/*ServiceView*/
.service{padding:10px 0; background:#eee;}
.service section{background: #fff; margin-bottom:10px}

/*NaviLinks*/
.naviLink{padding:10px 0}
.naviLink a{display: inline-block; padding-right:10px; font-size:13px}