/* Reset */
html, body, h1, h2, h3, h4, h5, h6, p, form, fieldset, img, select {margin:0; padding:0; border:0; font-family: sans-serif;}
ul, dl,dt,dd {margin:0; padding:0;list-style:none;}
label, input, button, select, img {vertical-align:middle;}
fieldset legend, hr {display:none;}
a{color: #000; text-decoration: none;}
a:hover, a:focus, a:active {text-decoration: none; }

/*transition*/
.fade-enter-active, .fade-leave-active {
transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
opacity: 0;
}

/*App*/
#app{max-width:370px; min-width: 320px; margin:0 auto}
h1{display: none;}

/*HomeView*/
.home{padding:10px; background:#eee;}
.home h2{font-size:15px}
.home .newsH2{margin:15px 0}
.home header{background: #fff; margin:-10px -10px 0 -10px}
.home header h2{margin-bottom:5px; font-size:12px; color:#eee;}
.home header .deposit{color:#fff}
.home header article{position:relative; padding:15px; margin:0 10px; background: #2c2e2c; border-radius: 5px;}
.home header .charge{position:absolute; right:15px; top:15px; display: inline-block; width: 30px; line-height: 25px; background: #eee; text-align: center; border-radius: 5px; font-size:12px;}
.home header .menu{position:relative; margin:20px -15px -15px; padding:10px; background:#363432; border-top:1px solid #292828; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;} 
.home header .menu em{font-size:10px; font-style: normal; float:right;}
.home header .upgrade{color:#ffd21f; font-size: 12px; vertical-align: middle;}
.home header .upgrade span{display:inline-block; padding:5px; font-size:10px; color:#000; border-radius:10px; background-color:#ffd21f;}
.home header li{display: inline-block; width:25%; margin-bottom:10px; text-align: center; font-size:13px}
.home header li img{display:block; width:25px; margin:10px auto 5px}
.home section{border-radius: 5px; background: #fff; margin-bottom:10px}
.home .payNews {background:#eee;}
.home .payNews li{position:relative; padding:15px; margin-bottom:10px; background:#fff; border-radius: 5px;}
.home .payNews a{display:block; width: 100%; height:100%}
.home .payNews p{width:55%; margin-bottom:5px; font-weight:bold;}
.home .payNews span{width:57%; font-size:12px; color:#ababab}
.home .payNews img{position: absolute; top:10px; right:10px; display:block; width:80px; height:80px; object-fit: cover; border-radius: 5px;}
.home .payNews .bigArea{height:200px; background-size: cover;}
.home .payNews .bigArea span{color:#000}
.home .nav{background: #eee; text-align: center;}
.home .nav h2{display:none}
.home .nav li{display: inline-block; padding-right:20px; font-size:12px}
.home .nav li:last-child{padding:0}
.home footer{margin-bottom:20px; font-size:8px; text-align: center; color:#2c2e2c}

/*ManageView*/
.manage{position:relative; padding:10px; background:#eee;}
.manage .notice {height:20px; margin-bottom:10px; font-size:13px; overflow: hidden;}
.manage h2{font-size:15px}
.manage header{position:relative; margin:20px -10px 10px; padding-left:15px; background: #fff;}
.manage header h2{padding: 15px 0 5px; font-size:12px; font-weight: normal; color:#2c2e2c}
.manage header p{padding-bottom:10px; font-weight:bold;}
.manage section{margin-bottom:10px; padding:15px; border-radius: 5px; background: #fff;}
.manage .recent h2{margin-bottom:15px; font-size:13px; font-weight: normal;}
.manage .recent li{position:relative; margin-bottom:15px;font-size:12px}
.manage .recent li:last-child{margin-bottom: 0;}
.manage .recent li img{width:30px; height:30px; margin-right:10px; float:left; object-fit: cover; border-radius:10px; border:1px solid #dbdbdb}
.manage .recent span{display: block;}
.manage .recent .date{color:#6e6e6e; font-size:11px}
.manage .recent strong{position: absolute; top:0; right:0;}
.manage .recent em{font-style: normal; font-size:8px; font-weight: normal; color:#6b6b6b;}
.manage .cardReport{background: #eee; padding:0}
.manage .cardReport h2{display: none;}
.manage .cardReport ul{height:140px; overflow: hidden;}
.manage .cardReport li:first-child{margin-right: 10px; width: calc(50% - 10px)}
.manage .cardReport li{width:50%; height:140px; float: left; padding: 15px; box-sizing: border-box; background: #fff; border-radius: 5px;}
.manage .cardReport .swipe span{margin-bottom:65px}
.manage .cardReport span{display:block; width:100px; word-break: break-all; font-size: 13px;}
.manage .cardReport em{display: block; text-align:center; font-size:12px; font-style: normal;}
.manage .cardReport a{display: block; margin-top:30px; font-size:12px; color:#033fad}
.manage .cardReport ul::after{content:""; display: block; clear: both;}
.manage .spendReport{padding:15px 15px 0 15px; margin-bottom: 0;}
.manage .spendReport h2{position:relative; margin:-15px -15px 0 -15px; padding:15px; background: #5b67c2; color:#fff; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.manage .spendReport h2 p{margin-bottom:35px}
.manage .spendReport span{display:block; margin:5px 0; font-size:12px; color:#000; font-weight: normal;}
.manage .spendReport h2 a{position:absolute; bottom:15px; display:block; font-size:10px; color:#eee}
.manage .spendReport li{position:relative; height:50px; line-height: 50px; font-size:13px}
.manage .spendReport li a{position: absolute; right:0; font-size:12px; color:#033fad}
.manage .assetReport{padding:15px 15px 10px 15px; margin-bottom:0}
.manage .assetReport h2{position:relative; margin:-15px -15px 0 -15px; padding:15px; background: #2c2e2c; color:#fff; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.manage .assetReport h2 p{margin-bottom:35px}
.manage .assetReport span{display:block; font-size:12px; color:#000; font-weight: normal;}
.manage .assetReport h2 a{position:absolute; bottom:15px; display:block; font-size:10px; color:#eee}
.manage .assetReport li{position:relative; height:50px; line-height: 50px; font-size:13px}
.manage .assetReport li a{position: absolute; right:0; font-size:12px; color:#033fad}
.manage .assetReport .ad{display: block; height:50px; line-height:50px; font-size:13px; text-align:center; background:#fcba03; border-radius: 5px;}
.manage .creditReport{margin:0 -10px; padding:10px; background: #eee;}
.manage .creditReport h2{display:none}
.manage .creditReport li{position:relative; height:50px; line-height: 50px; padding:0 15px; font-size:13px; background: #fff; border-radius: 5px;}
.manage .creditReport li:first-child{margin-bottom:10px;}
.manage .alarm{margin:0 -10px; padding:10px; background: #eee;}
.manage .alarm h2{display:none}
.manage .alarm li{position:relative; height:50px; margin-bottom:10px; line-height:50px; padding:0 15px; font-size:13px; background: #fff; border-radius: 5px;}
.manage .alarm li:last-child{margin-bottom:0;}

/*BenefitView*/
.benefit{padding:10px; background:#eee;}
.benefit header{height:80px; margin:-10px; background: #fff;}
.benefit header h2{display: none;}
.benefit .headerMenu{position: relative; top:-20px; background:#fff; border-radius:20px; border:1px solid #ffb300}
.benefit .headerMenu li{display:inline-block; width:50%; line-height:50px; text-align: center; font-size:12px}
.benefit .ad {position:relative; top:-10px; display:block; padding:15px 15px; font-size:13px; background: #fff; border-radius: 5px; overflow: hidden;}
.benefit section{border-radius: 5px; background: #fff; margin-bottom:10px}
.benefit .recommand{background: #eee;}
.benefit .recommand h2{display: none;}
.benefit .recommand p{font-size:14px; margin-bottom:10px}
.benefit .recommand p a{float:right; color:#033fad}
.benefit .recommand li{position:relative; margin-bottom:10px; padding:15px 15px; font-size:13px; background: #fff; border-radius: 5px; overflow: hidden;}
.benefit .recommand li:last-child{margin-bottom:0;}
.benefit .recommand li img{float: left; width: 50px; height: 50px; margin-right: 10px; border-radius: 5px; object-fit:cover;}
.benefit .recommand li span{display: block;}
.benefit .recommand li em{display: block; font-style: normal; font-size:11px;}
.benefit .main {position:relative; padding:15px; margin-bottom:20px; background:#f57d05;}
.benefit .main h2{display: none;}
.benefit .main ul{height:35px; padding-top:35px; overflow: hidden;}
.benefit .main li{position:relative;}
.benefit .main li span{display: block; font-size:14px}
.benefit .main li em{position:absolute; top:0; right:0; font-size: 13px; color:#eee; font-style: normal;}

/*ServiceView*/
.service{padding:10px 0; background:#eee;}
.service section{background: #fff; padding:30px 15px; margin-bottom:10px}
.service section h2{font-size:11px; margin-bottom:15px; color:#2c2e2c; font-weight: normal;}
.service section li{display:inline-block; width:50%; line-height:25px; font-size:14px; font-weight:bold;}
.service .ad{display:block; padding:15px; margin:0 10px 10px 10px; background: #fff; border-radius: 5px; font-size: 14px;}
.service .ad span{display: block; font-size: 12px;}
.service .setting{padding:15px;}
.service .setting h2{display:inline-block; margin-bottom:0; color:#000; font-weight:bold; padding-right:20px; font-size:14px}
.service .setting span{font-size:11px; color:#2c2e2c}

/*NaviLinks*/
.naviLink{padding:10px 0; margin:0 10px;}
.naviLink a{display: inline-block; padding-right:10px; font-size:14px; font-weight: bold;}

/*SwiperList*/
.main .swiper-container{margin: 0px -25px;}
.main .swiper-slide{background: #fff; padding:10px 0; border-radius:25px; text-align: center; overflow: hidden;}
.main .swiper-slide img{display:inline-block; width:55px; height:55px; border-radius: 15px; object-fit: cover;}

/*BottomSheet*/
.home .text-center {display:inline-block; position: absolute; right:15px; top:15px}
.home .v-btn:not(.v-btn--round).v-size--default {height:15px; min-width: 30px; padding:5px; font-size: 11px;}
.home .v-dialog__container{display:block;}
.home .v-dialog__content{height:100vh}
.home .v-sheet.v-list{padding-bottom: 0;}
.home .v-list-item--link{height:35px}
.home .v-list-item{min-height: 0; border-bottom: 1px solid #eee;}
.home .v-list-item:last-child{border-bottom:none}
.home .v-subheader{display: block; height: 100%; text-align: center; font-size: 13px; font-weight: bold; padding-bottom: 10px;}
.home .v-list-item__title{font-size:12px}
